
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDate</title>
</head> 
<body>
    <div> 
        <h3>Hello from Get Date Action Method</h3>
        <h4>Date Time is - @DateTime.Now</h4>
    </div>
</body>
</html>
