
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDay</title>
</head>
<body>
    <div> 
        <h3>This is Day </h3>
    </div>
</body>
</html>
